*{
    margin:0;
    padding:0;
}
body{
    background-color: #f4fff4;
}
.header,.container{
    width:100%;
    
    margin:0 auto;
    
}
.header{
    background-color:#fffbf0;margin-bottom: 50px;
}
#navbarNav a{
    color:rgb(0, 0, 3);
    font-family: 'Imbue', serif;

}
 .second-header{
    display: grid;
    grid-template-columns: 50% 50%;

}
@media (max-width:770px){
   .second-header{
    display: grid;
    grid-template-columns: 100%;

}
}

button img{
    width:40px;
    padding-right: 10px;
    
}
.container button img{
    width:40px;
    height: 25px;
    
}

.second-header button{
    border-radius: 5px;
    background:linear-gradient(to bottom,rgb(81, 196, 110),rgb(37, 116, 1)) ;
    box-shadow: 2px 2px 5px 1px rgb(90, 151, 90);
     color:#fff;
    
     

}
.container button{
    border-radius: 5px;
    background:linear-gradient(to bottom,rgb(81, 196, 110),rgb(37, 116, 1)) ;
    box-shadow: 2px 2px 5px 1px rgb(90, 151, 90);
     color:#fff;
}
 h1,p{
    font-family: 'Imbue', serif;
}
.second-header h1 > span{
    color:#f7ad0f;
}
.container img{
    width:250px;
    height: 300px;
    margin: auto;
}
.container .my-card{
    border:none;
}
.container .photo-bg{
    background-color: #ebebeb;
    border-radius:20px;
}
.container .card-bg{
    background-color:#ffffff;
    border-radius:10px;
    box-shadow: 1px 1px 14px -3px #bbb0b0;
}
.container{
    margin:50px auto;
}
.container section{
    margin:80px 0;
}

.third-section .single-card{
    box-shadow: 1px 1px 14px -3px #bbb0b0;
    display: grid;
    grid-template-columns: 80px 1fr;
    border-radius: 10px;
}
.footer-part{
    box-shadow: 1px 1px 14px -3px #bbb0b0;
}
.third-section .right-side img{
    width:100%;
}
@media (max-width:800px){
    .third-section {
        flex-direction: column-reverse;
    }
    .third-section .card-body{
        width:250px;
        background-color: #ffffff;
       
        
    }
    .third-section .single-card{
        margin:0 auto;
        display: grid;
        
    }
}
 .footer{
    width:100%;
    margin:50px 0;
    background-color: darkorchid;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 5px;
    width: 100%;
     
    
    
}
.footer .articles article{
    
}
.footer .image{
    margin-left: 20%;
}
@media (max-width:770px){
    .footer{
        
        margin:0 auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .footer .articles{
        width:90%;
        margin:0 auto;
        margin-left:-20px;
         
    }
    footer .articles .article{
        width: 31%;
       margin-right: -5px;
    }
    .footer-part{
        background-color:rgb(163, 24, 233);
        font-size: 15px;
    }
}
.footer-part{
    color:gainsboro;
    
}